.courses{

    justify-content: center;
    align-items: center;
    width: auto;
}

.course-row{
    text-align: center;
    padding: 3px;
}

.logout{
    width: 100px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: brown;
    color: white;
}
.weird{
    background: -webkit-linear-gradient(90deg, rgba(58,88,180,1) 0%, rgba(162,42,199,1) 25%, rgba(253,29,29,1) 52%, rgba(253,142,40,1) 77%, rgba(234,252,69,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome{
    position: absolute;
    left: 10px;
    top: 10px;
    margin: 0px;
}